*{
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #4caf50;
  color: white;
  padding: 1em;
  text-align: center;
}
.navbar{
  background: #333;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a{
  font-size: 37px;
  font-weight: 600;
  color: white;
}
li {
  list-style: none;
  display: inline-block;
}
li a{
  color: white;
  font: 16px;
  font-weight: bold;
  margin-right: 25px;
}
li:hover{
  background-color: #4caf50;
}

main {
  padding: 1em;
  margin: 0 auto;
  max-width: 800px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  width: 100%;
  bottom: 0;
}
